@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

.play-ground {
  background-image: radial-gradient(#eee 1px, transparent 1px);
  background-size: 20px 20px;
}
.line {
  position: absolute;
  height: 2px;
  background-color: black;
  transform-origin: 0 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
}

.input-connection::after,
.output-connection::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 7px;
  background-color: #66a3ff;
  opacity: 0.3;
  border-radius: 1rem;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.input-connection::after {
  left: 80%;
}

.output-connection::before {
  right: 80%;
}
.connecting-line {
  position: absolute;
  left: 87%;
  top: 85%;
  z-index: 1;
}
.connection3 {
  left: unset;
  right: 27px;
  max-width: fit-content;
  width: 357px;
  height: 358px;
}
.connection4 {
  top: 87%;
  left: 16px;
  height: 350px;
}
